<div class = "row">
  <div class = "col">
    <div class = "card">
      <div class="card" style="width: 18rem;">
        <img src="https://www.baressp.com.br/bares/fotos3/labraciera10_210920210942.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pizza Vero Parma</h5>
          <p class="card-text">Com o nome de Vero Parma, a pizza napoletana além de saborosa é muito bonita.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Uma camada de molho de tomate marcante, fatias de queijo brie cremosos e tiras deliciosas com cores vivas de presunto parma.</li>
          <li class="list-group-item">Preço: R$119,00 </li>
          <li class="list-group-item">LaBraciera: Nossa receita tem mais de 200 anos de tradição, nossa farinha é usada nas melhores pizzarias de Napoli. Temos unidades em Santana e Jardins.</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class = "col">
      <div class = "card">
        <div class="card" style="width: 18rem;">
          <img src="https://www.baressp.com.br/bares/fotos3/labraciera10_210920210942.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pizza Vero Parma</h5>
            <p class="card-text">Com o nome de Vero Parma, a pizza napoletana além de saborosa é muito bonita.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Uma camada de molho de tomate marcante, fatias de queijo brie cremosos e tiras deliciosas com cores vivas de presunto parma.</li>
            <li class="list-group-item">Preço: R$119,00 </li>
            <li class="list-group-item">LaBraciera: Nossa receita tem mais de 200 anos de tradição, nossa farinha é usada nas melhores pizzarias de Napoli. Temos unidades em Santana e Jardins.</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
